src/main/resources/ecentric/wsdl/PaymentGatewayServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://ecentric.models.ubs.vuclip.com/" name="PaymentGatewayServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ecentric.models.ubs.vuclip.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.ecentricswitch.co.za/paymentgateway/v1" schemaLocation="PaymentGatewayServiceService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://ecentric.models.ubs.vuclip.com/" schemaLocation="PaymentGatewayServiceService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="payment">
    <part name="parameters" element="tns:payment"/>
  </message>
  <message name="paymentResponse">
    <part name="parameters" element="tns:paymentResponse"/>
  </message>
  <message name="createMasterPassTransaction">
    <part name="parameters" element="tns:createMasterPassTransaction"/>
  </message>
  <message name="createMasterPassTransactionResponse">
    <part name="parameters" element="tns:createMasterPassTransactionResponse"/>
  </message>
  <message name="listMerchantCards">
    <part name="parameters" element="tns:listMerchantCards"/>
  </message>
  <message name="listMerchantCardsResponse">
    <part name="parameters" element="tns:listMerchantCardsResponse"/>
  </message>
  <message name="refund">
    <part name="parameters" element="tns:refund"/>
  </message>
  <message name="refundResponse">
    <part name="parameters" element="tns:refundResponse"/>
  </message>
  <message name="addCard">
    <part name="parameters" element="tns:addCard"/>
  </message>
  <message name="addCardResponse">
    <part name="parameters" element="tns:addCardResponse"/>
  </message>
  <message name="listUserCards">
    <part name="parameters" element="tns:listUserCards"/>
  </message>
  <message name="listUserCardsResponse">
    <part name="parameters" element="tns:listUserCardsResponse"/>
  </message>
  <message name="deleteCard">
    <part name="parameters" element="tns:deleteCard"/>
  </message>
  <message name="deleteCardResponse">
    <part name="parameters" element="tns:deleteCardResponse"/>
  </message>
  <message name="authorize">
    <part name="parameters" element="tns:authorize"/>
  </message>
  <message name="authorizeResponse">
    <part name="parameters" element="tns:authorizeResponse"/>
  </message>
  <message name="capture">
    <part name="parameters" element="tns:capture"/>
  </message>
  <message name="captureResponse">
    <part name="parameters" element="tns:captureResponse"/>
  </message>
  <message name="secure3DLookup">
    <part name="parameters" element="tns:secure3DLookup"/>
  </message>
  <message name="secure3DLookupResponse">
    <part name="parameters" element="tns:secure3DLookupResponse"/>
  </message>
  <portType name="PaymentGatewayService">
    <operation name="payment">
      <input wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/paymentRequest" message="tns:payment"/>
      <output wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/paymentResponse" message="tns:paymentResponse"/>
    </operation>
    <operation name="createMasterPassTransaction">
      <input wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/createMasterPassTransactionRequest" message="tns:createMasterPassTransaction"/>
      <output wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/createMasterPassTransactionResponse" message="tns:createMasterPassTransactionResponse"/>
    </operation>
    <operation name="listMerchantCards">
      <input wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/listMerchantCardsRequest" message="tns:listMerchantCards"/>
      <output wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/listMerchantCardsResponse" message="tns:listMerchantCardsResponse"/>
    </operation>
    <operation name="refund">
      <input wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/refundRequest" message="tns:refund"/>
      <output wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/refundResponse" message="tns:refundResponse"/>
    </operation>
    <operation name="addCard">
      <input wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/addCardRequest" message="tns:addCard"/>
      <output wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/addCardResponse" message="tns:addCardResponse"/>
    </operation>
    <operation name="listUserCards">
      <input wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/listUserCardsRequest" message="tns:listUserCards"/>
      <output wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/listUserCardsResponse" message="tns:listUserCardsResponse"/>
    </operation>
    <operation name="deleteCard">
      <input wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/deleteCardRequest" message="tns:deleteCard"/>
      <output wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/deleteCardResponse" message="tns:deleteCardResponse"/>
    </operation>
    <operation name="authorize">
      <input wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/authorizeRequest" message="tns:authorize"/>
      <output wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/authorizeResponse" message="tns:authorizeResponse"/>
    </operation>
    <operation name="capture">
      <input wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/captureRequest" message="tns:capture"/>
      <output wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/captureResponse" message="tns:captureResponse"/>
    </operation>
    <operation name="secure3DLookup">
      <input wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/secure3DLookupRequest" message="tns:secure3DLookup"/>
      <output wsam:Action="http://ecentric.models.ubs.vuclip.com/PaymentGatewayService/secure3DLookupResponse" message="tns:secure3DLookupResponse"/>
    </operation>
  </portType>
  <binding name="PaymentGatewayServicePortBinding" type="tns:PaymentGatewayService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="payment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createMasterPassTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listMerchantCards">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="refund">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listUserCards">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="authorize">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="capture">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="secure3DLookup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PaymentGatewayServiceService">
    <port name="PaymentGatewayServicePort" binding="tns:PaymentGatewayServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

