src/main/resources/ecentric/wsdl/PaymentGatewayServiceService_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ecentric.models.ubs.vuclip.com/" xmlns:tns="http://ecentric.models.ubs.vuclip.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.ecentricswitch.co.za/paymentgateway/v1">

  <xs:import namespace="http://www.ecentricswitch.co.za/paymentgateway/v1" schemaLocation="PaymentGatewayServiceService_schema1.xsd"/>

  <xs:element name="addCard" type="tns:addCard"/>

  <xs:element name="addCardResponse" type="tns:addCardResponse"/>

  <xs:element name="authorize" type="tns:authorize"/>

  <xs:element name="authorizeResponse" type="tns:authorizeResponse"/>

  <xs:element name="capture" type="tns:capture"/>

  <xs:element name="captureResponse" type="tns:captureResponse"/>

  <xs:element name="createMasterPassTransaction" type="tns:createMasterPassTransaction"/>

  <xs:element name="createMasterPassTransactionResponse" type="tns:createMasterPassTransactionResponse"/>

  <xs:element name="deleteCard" type="tns:deleteCard"/>

  <xs:element name="deleteCardResponse" type="tns:deleteCardResponse"/>

  <xs:element name="listMerchantCards" type="tns:listMerchantCards"/>

  <xs:element name="listMerchantCardsResponse" type="tns:listMerchantCardsResponse"/>

  <xs:element name="listUserCards" type="tns:listUserCards"/>

  <xs:element name="listUserCardsResponse" type="tns:listUserCardsResponse"/>

  <xs:element name="payment" type="tns:payment"/>

  <xs:element name="paymentResponse" type="tns:paymentResponse"/>

  <xs:element name="refund" type="tns:refund"/>

  <xs:element name="refundResponse" type="tns:refundResponse"/>

  <xs:element name="secure3DLookup" type="tns:secure3DLookup"/>

  <xs:element name="secure3DLookupResponse" type="tns:secure3DLookupResponse"/>

  <xs:complexType name="payment">
    <xs:sequence>
      <xs:element name="arg0" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MerchantID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element name="PreviousTransactionID" type="xs:string" form="qualified"/>
            <xs:element ref="ns1:TransactionDateTime"/>
            <xs:element ref="ns1:SaleReconID"/>
            <xs:element ref="ns1:ReconID"/>
            <xs:element name="Amount" type="xs:long" form="qualified"/>
            <xs:element ref="ns1:CurrencyCode"/>
            <xs:element ref="ns1:BudgetPeriod"/>
            <xs:element ref="ns1:OrderNumber"/>
            <xs:element ref="ns1:AuthCode"/>
            <xs:element name="PaymentService" type="ns1:PaymentServiceType" form="qualified"/>
            <xs:element ref="ns1:Card"/>
            <xs:element ref="ns1:BankAccount"/>
            <xs:element ref="ns1:FirstName"/>
            <xs:element ref="ns1:LastName"/>
            <xs:element ref="ns1:BillingAddress"/>
            <xs:element ref="ns1:ShippingAddress"/>
            <xs:element ref="ns1:Email"/>
            <xs:element ref="ns1:MobilePhone"/>
            <xs:element ref="ns1:HomePhone"/>
            <xs:element ref="ns1:WorkPhone"/>
            <xs:element ref="ns1:PAResPayload"/>
            <xs:element ref="ns1:TerminalID"/>
            <xs:element ref="ns1:CardAcceptorName"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="paymentResponse">
    <xs:sequence>
      <xs:element name="return" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionDateTime" type="xs:dateTime" form="qualified" nillable="true"/>
            <xs:element ref="ns1:SaleReconID"/>
            <xs:element name="ReconID" type="xs:string" form="qualified" nillable="true"/>
            <xs:element ref="ns1:AuthCode"/>
            <xs:element name="TransactionStatus" type="ns1:TransactionStatusType" form="qualified"/>
            <xs:element name="ResponseDetail" type="ns1:ResponseDetail" form="qualified"/>
            <xs:element ref="ns1:AuthAmount"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listMerchantCards">
    <xs:sequence>
      <xs:element name="arg0" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MerchantID" type="xs:string" form="qualified"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listMerchantCardsResponse">
    <xs:sequence>
      <xs:element name="return" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MerchantUserCard" type="ns1:MerchantUserCard" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="capture">
    <xs:sequence>
      <xs:element name="arg0" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MerchantID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element name="PreviousTransactionID" type="xs:string" form="qualified"/>
            <xs:element ref="ns1:TransactionDateTime"/>
            <xs:element ref="ns1:SaleReconID"/>
            <xs:element ref="ns1:ReconID"/>
            <xs:element name="Amount" type="xs:long" form="qualified"/>
            <xs:element ref="ns1:CurrencyCode"/>
            <xs:element ref="ns1:OrderNumber"/>
            <xs:element name="PaymentService" type="ns1:PaymentServiceType" form="qualified"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="captureResponse">
    <xs:sequence>
      <xs:element name="return" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionDateTime" type="xs:dateTime" form="qualified" nillable="true"/>
            <xs:element ref="ns1:SaleReconID"/>
            <xs:element name="ReconID" type="xs:string" form="qualified" nillable="true"/>
            <xs:element ref="ns1:AuthCode"/>
            <xs:element name="TransactionStatus" type="ns1:TransactionStatusType" form="qualified"/>
            <xs:element name="ResponseDetail" type="ns1:ResponseDetail" form="qualified"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listUserCards">
    <xs:sequence>
      <xs:element name="arg0" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MerchantID" type="xs:string" form="qualified"/>
            <xs:element name="MerchantUserID" type="xs:string" form="qualified"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listUserCardsResponse">
    <xs:sequence>
      <xs:element name="return" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UserCard" type="ns1:UserCard" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="refund">
    <xs:sequence>
      <xs:element name="arg0" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MerchantID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element name="PreviousTransactionID" type="xs:string" form="qualified"/>
            <xs:element ref="ns1:TransactionDateTime"/>
            <xs:element ref="ns1:SaleReconID"/>
            <xs:element ref="ns1:ReconID"/>
            <xs:element name="Amount" type="xs:long" form="qualified"/>
            <xs:element ref="ns1:CurrencyCode"/>
            <xs:element ref="ns1:OrderNumber"/>
            <xs:element name="PaymentService" type="ns1:PaymentServiceType" form="qualified"/>
            <xs:element ref="ns1:Card"/>
            <xs:element ref="ns1:Account"/>
            <xs:element ref="ns1:BankAccount"/>
            <xs:element ref="ns1:FirstName"/>
            <xs:element ref="ns1:LastName"/>
            <xs:element ref="ns1:BillingAddress"/>
            <xs:element ref="ns1:ShippingAddress"/>
            <xs:element ref="ns1:Email"/>
            <xs:element ref="ns1:MobilePhone"/>
            <xs:element ref="ns1:HomePhone"/>
            <xs:element ref="ns1:WorkPhone"/>
            <xs:element ref="ns1:TerminalID"/>
            <xs:element ref="ns1:CardAcceptorName"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="refundResponse">
    <xs:sequence>
      <xs:element name="return" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionDateTime" type="xs:dateTime" form="qualified" nillable="true"/>
            <xs:element ref="ns1:SaleReconID"/>
            <xs:element name="ReconID" type="xs:string" form="qualified" nillable="true"/>
            <xs:element ref="ns1:AuthCode"/>
            <xs:element name="TransactionStatus" type="ns1:TransactionStatusType" form="qualified"/>
            <xs:element name="ResponseDetail" type="ns1:ResponseDetail" form="qualified"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteCard">
    <xs:sequence>
      <xs:element name="arg0" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MerchantID" type="xs:string" form="qualified"/>
            <xs:element name="MerchantUserID" type="xs:string" form="qualified"/>
            <xs:element name="Card" type="ns1:BankCard" form="qualified"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteCardResponse">
    <xs:sequence>
      <xs:element name="return" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TransactionStatus" type="ns1:TransactionStatusType" form="qualified"/>
            <xs:element name="ResponseDetail" type="ns1:ResponseDetail" form="qualified"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createMasterPassTransaction">
    <xs:sequence>
      <xs:element name="arg0" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MerchantID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element ref="ns1:TransactionDateTime"/>
            <xs:element name="SaleReconID" type="xs:string" form="qualified" minOccurs="0"/>
            <xs:element name="ReconID" type="xs:string" form="qualified"/>
            <xs:element ref="ns1:Amount"/>
            <xs:element ref="ns1:CurrencyCode"/>
            <xs:element ref="ns1:OrderNumber"/>
            <xs:element ref="ns1:CallbackUrl"/>
            <xs:element ref="ns1:Description"/>
            <xs:element ref="ns1:CartItems"/>
            <xs:element ref="ns1:Origination"/>
            <xs:element ref="ns1:RequestShipping"/>
            <xs:element ref="ns1:Network"/>
            <xs:element ref="ns1:MobilePhone"/>
            <xs:element ref="ns1:QRCode"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createMasterPassTransactionResponse">
    <xs:sequence>
      <xs:element name="return" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionDateTime" type="xs:dateTime" form="qualified" nillable="true"/>
            <xs:element ref="ns1:SaleReconID"/>
            <xs:element name="ReconID" type="xs:string" form="qualified" nillable="true"/>
            <xs:element ref="ns1:RedirectUrl"/>
            <xs:element name="TransactionStatus" type="ns1:TransactionStatusType" form="qualified"/>
            <xs:element name="ResponseDetail" type="ns1:ResponseDetail" form="qualified"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authorize">
    <xs:sequence>
      <xs:element name="arg0" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MerchantID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element name="PreviousTransactionID" type="xs:string" form="qualified"/>
            <xs:element ref="ns1:TransactionDateTime"/>
            <xs:element ref="ns1:SaleReconID"/>
            <xs:element ref="ns1:ReconID"/>
            <xs:element name="Amount" type="xs:long" form="qualified"/>
            <xs:element ref="ns1:CurrencyCode"/>
            <xs:element ref="ns1:BudgetPeriod"/>
            <xs:element ref="ns1:OrderNumber"/>
            <xs:element ref="ns1:AuthCode"/>
            <xs:element name="PaymentService" type="ns1:PaymentServiceType" form="qualified"/>
            <xs:element ref="ns1:Card"/>
            <xs:element ref="ns1:BankAccount"/>
            <xs:element ref="ns1:FirstName"/>
            <xs:element ref="ns1:LastName"/>
            <xs:element ref="ns1:BillingAddress"/>
            <xs:element ref="ns1:ShippingAddress"/>
            <xs:element ref="ns1:Email"/>
            <xs:element ref="ns1:MobilePhone"/>
            <xs:element ref="ns1:HomePhone"/>
            <xs:element ref="ns1:WorkPhone"/>
            <xs:element ref="ns1:PAResPayload"/>
            <xs:element ref="ns1:TerminalID"/>
            <xs:element ref="ns1:CardAcceptorName"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authorizeResponse">
    <xs:sequence>
      <xs:element name="return" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionDateTime" type="xs:dateTime" form="qualified" nillable="true"/>
            <xs:element ref="ns1:SaleReconID"/>
            <xs:element name="ReconID" type="xs:string" form="qualified" nillable="true"/>
            <xs:element ref="ns1:AuthCode"/>
            <xs:element name="TransactionStatus" type="ns1:TransactionStatusType" form="qualified"/>
            <xs:element name="ResponseDetail" type="ns1:ResponseDetail" form="qualified"/>
            <xs:element ref="ns1:AuthAmount"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addCard">
    <xs:sequence>
      <xs:element name="arg0" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MerchantID" type="xs:string" form="qualified"/>
            <xs:element name="MerchantUserID" type="xs:string" form="qualified"/>
            <xs:element name="Card" type="ns1:BankCard" form="qualified"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addCardResponse">
    <xs:sequence>
      <xs:element name="return" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Token" type="xs:string" form="qualified"/>
            <xs:element name="TransactionStatus" type="ns1:TransactionStatusType" form="qualified"/>
            <xs:element name="ResponseDetail" type="ns1:ResponseDetail" form="qualified"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="secure3DLookup">
    <xs:sequence>
      <xs:element name="arg0" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MerchantID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element ref="ns1:TransactionDateTime"/>
            <xs:element ref="ns1:SaleReconID"/>
            <xs:element ref="ns1:ReconID"/>
            <xs:element name="Amount" type="xs:long" form="qualified"/>
            <xs:element ref="ns1:CurrencyCode"/>
            <xs:element ref="ns1:OrderNumber"/>
            <xs:element ref="ns1:Card"/>
            <xs:element name="PaymentService" type="ns1:PaymentServiceType" form="qualified" minOccurs="0"/>
            <xs:element name="TermUrl" type="xs:string" form="qualified" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="secure3DLookupResponse">
    <xs:sequence>
      <xs:element name="return" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TransactionID" type="xs:string" form="qualified"/>
            <xs:element name="TransactionDateTime" type="xs:dateTime" form="qualified" nillable="true"/>
            <xs:element ref="ns1:SaleReconID"/>
            <xs:element name="ReconID" type="xs:string" form="qualified" nillable="true"/>
            <xs:element name="TransactionStatus" type="ns1:TransactionStatusType" form="qualified"/>
            <xs:element name="ResponseDetail" type="ns1:ResponseDetail" form="qualified"/>
            <xs:element name="Enrolled" type="xs:boolean" form="qualified" minOccurs="0"/>
            <xs:element ref="ns1:AcsUrl"/>
            <xs:element ref="ns1:PAReqPayload"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

