src/main/resources/ecentric/wsdl/PaymentGatewayServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.ecentricswitch.co.za/paymentgateway/v1" xmlns:tns="http://www.ecentricswitch.co.za/paymentgateway/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Account" type="tns:AccountDetail"/>

  <xs:element name="AddCardRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantID" type="xs:string"/>
        <xs:element name="MerchantUserID" type="xs:string"/>
        <xs:element name="Card" type="tns:BankCard"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Token" type="xs:string"/>
        <xs:element name="TransactionStatus" type="tns:TransactionStatusType"/>
        <xs:element name="ResponseDetail" type="tns:ResponseDetail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Address" type="tns:Address"/>

  <xs:element name="AuthorizeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantID" type="xs:string"/>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="PreviousTransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:anySimpleType"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string"/>
        <xs:element name="Amount" type="xs:long"/>
        <xs:element name="CurrencyCode" type="xs:string"/>
        <xs:element name="BudgetPeriod" type="xs:int"/>
        <xs:element name="OrderNumber" type="xs:string"/>
        <xs:element name="AuthCode" type="xs:string"/>
        <xs:element name="PaymentService" type="tns:PaymentServiceType"/>
        <xs:element name="Card" type="tns:BankCard"/>
        <xs:element name="BankAccount" type="tns:BankAccountType"/>
        <xs:element name="FirstName" type="xs:string"/>
        <xs:element name="LastName" type="xs:string"/>
        <xs:element name="BillingAddress" type="tns:Address"/>
        <xs:element name="ShippingAddress" type="tns:Address"/>
        <xs:element name="Email" type="xs:string"/>
        <xs:element name="MobilePhone" type="xs:string"/>
        <xs:element name="HomePhone" type="xs:string"/>
        <xs:element name="WorkPhone" type="xs:string"/>
        <xs:element name="PAResPayload" type="xs:string"/>
        <xs:element name="TerminalID" type="xs:string"/>
        <xs:element name="CardAcceptorName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AuthorizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:dateTime" nillable="true"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string" nillable="true"/>
        <xs:element name="AuthCode" type="xs:string"/>
        <xs:element name="TransactionStatus" type="tns:TransactionStatusType"/>
        <xs:element name="ResponseDetail" type="tns:ResponseDetail"/>
        <xs:element name="AuthAmount" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="BankAccountType" type="tns:BankAccountType"/>

  <xs:element name="BankCard" type="tns:BankCard"/>

  <xs:element name="BankCardType" type="tns:BankCardType"/>

  <xs:element name="CaptureRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantID" type="xs:string"/>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="PreviousTransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:anySimpleType"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string"/>
        <xs:element name="Amount" type="xs:long"/>
        <xs:element name="CurrencyCode" type="xs:string"/>
        <xs:element name="OrderNumber" type="xs:string"/>
        <xs:element name="PaymentService" type="tns:PaymentServiceType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CaptureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:dateTime" nillable="true"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string" nillable="true"/>
        <xs:element name="AuthCode" type="xs:string"/>
        <xs:element name="TransactionStatus" type="tns:TransactionStatusType"/>
        <xs:element name="ResponseDetail" type="tns:ResponseDetail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CreateMasterPassTransactionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantID" type="xs:string"/>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:anySimpleType"/>
        <xs:element name="SaleReconID" type="xs:string" minOccurs="0"/>
        <xs:element name="ReconID" type="xs:string"/>
        <xs:element name="Amount" type="xs:long"/>
        <xs:element name="CurrencyCode" type="xs:string"/>
        <xs:element name="OrderNumber" type="xs:string"/>
        <xs:element name="CallbackUrl" type="xs:string"/>
        <xs:element name="Description" type="xs:string"/>
        <xs:element name="CartItems" type="xs:string"/>
        <xs:element name="Origination" type="xs:string"/>
        <xs:element name="RequestShipping" type="xs:boolean"/>
        <xs:element name="Network" type="xs:string"/>
        <xs:element name="MobilePhone" type="xs:string"/>
        <xs:element name="QRCode" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CreateMasterPassTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:dateTime" nillable="true"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string" nillable="true"/>
        <xs:element name="RedirectUrl" type="xs:string"/>
        <xs:element name="TransactionStatus" type="tns:TransactionStatusType"/>
        <xs:element name="ResponseDetail" type="tns:ResponseDetail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteCardRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantID" type="xs:string"/>
        <xs:element name="MerchantUserID" type="xs:string"/>
        <xs:element name="Card" type="tns:BankCard"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionStatus" type="tns:TransactionStatusType"/>
        <xs:element name="ResponseDetail" type="tns:ResponseDetail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ListMerchantCardsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ListMerchantCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantUserCard" type="tns:MerchantUserCard" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ListUserCardsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantID" type="xs:string"/>
        <xs:element name="MerchantUserID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ListUserCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UserCard" type="tns:UserCard" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MessageDateTime" type="xs:anySimpleType"/>

  <xs:element name="MessageHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageDateTime" type="xs:anySimpleType"/>
        <xs:element name="MessageID" type="xs:string"/>
        <xs:element name="Channel" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MessageID" type="xs:string"/>

  <xs:element name="PaymentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantID" type="xs:string"/>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="PreviousTransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:anySimpleType"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string"/>
        <xs:element name="Amount" type="xs:long"/>
        <xs:element name="CurrencyCode" type="xs:string"/>
        <xs:element name="BudgetPeriod" type="xs:int"/>
        <xs:element name="OrderNumber" type="xs:string"/>
        <xs:element name="AuthCode" type="xs:string"/>
        <xs:element name="PaymentService" type="tns:PaymentServiceType"/>
        <xs:element name="Card" type="tns:BankCard"/>
        <xs:element name="BankAccount" type="tns:BankAccountType"/>
        <xs:element name="FirstName" type="xs:string"/>
        <xs:element name="LastName" type="xs:string"/>
        <xs:element name="BillingAddress" type="tns:Address"/>
        <xs:element name="ShippingAddress" type="tns:Address"/>
        <xs:element name="Email" type="xs:string"/>
        <xs:element name="MobilePhone" type="xs:string"/>
        <xs:element name="HomePhone" type="xs:string"/>
        <xs:element name="WorkPhone" type="xs:string"/>
        <xs:element name="PAResPayload" type="xs:string"/>
        <xs:element name="TerminalID" type="xs:string"/>
        <xs:element name="CardAcceptorName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:dateTime" nillable="true"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string" nillable="true"/>
        <xs:element name="AuthCode" type="xs:string"/>
        <xs:element name="TransactionStatus" type="tns:TransactionStatusType"/>
        <xs:element name="ResponseDetail" type="tns:ResponseDetail"/>
        <xs:element name="AuthAmount" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentServiceType" type="tns:PaymentServiceType"/>

  <xs:element name="RefundRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantID" type="xs:string"/>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="PreviousTransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:anySimpleType"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string"/>
        <xs:element name="Amount" type="xs:long"/>
        <xs:element name="CurrencyCode" type="xs:string"/>
        <xs:element name="OrderNumber" type="xs:string"/>
        <xs:element name="PaymentService" type="tns:PaymentServiceType"/>
        <xs:element name="Card" type="tns:BankCard"/>
        <xs:element name="Account" type="tns:AccountDetail"/>
        <xs:element name="BankAccount" type="tns:BankAccountType"/>
        <xs:element name="FirstName" type="xs:string"/>
        <xs:element name="LastName" type="xs:string"/>
        <xs:element name="BillingAddress" type="tns:Address"/>
        <xs:element name="ShippingAddress" type="tns:Address"/>
        <xs:element name="Email" type="xs:string"/>
        <xs:element name="MobilePhone" type="xs:string"/>
        <xs:element name="HomePhone" type="xs:string"/>
        <xs:element name="WorkPhone" type="xs:string"/>
        <xs:element name="TerminalID" type="xs:string"/>
        <xs:element name="CardAcceptorName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:dateTime" nillable="true"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string" nillable="true"/>
        <xs:element name="AuthCode" type="xs:string"/>
        <xs:element name="TransactionStatus" type="tns:TransactionStatusType"/>
        <xs:element name="ResponseDetail" type="tns:ResponseDetail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ResponseDetail" type="tns:ResponseDetail"/>

  <xs:element name="Secure3DLookupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantID" type="xs:string"/>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:anySimpleType"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string"/>
        <xs:element name="Amount" type="xs:long"/>
        <xs:element name="CurrencyCode" type="xs:string"/>
        <xs:element name="OrderNumber" type="xs:string"/>
        <xs:element name="Card" type="tns:BankCard"/>
        <xs:element name="PaymentService" type="tns:PaymentServiceType" minOccurs="0"/>
        <xs:element name="TermUrl" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Secure3DLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:dateTime" nillable="true"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string" nillable="true"/>
        <xs:element name="TransactionStatus" type="tns:TransactionStatusType"/>
        <xs:element name="ResponseDetail" type="tns:ResponseDetail"/>
        <xs:element name="Enrolled" type="xs:boolean" minOccurs="0"/>
        <xs:element name="AcsUrl" type="xs:string"/>
        <xs:element name="PAReqPayload" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionStatusType" type="tns:TransactionStatusType"/>

  <xs:element name="VoidRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantID" type="xs:string"/>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="PreviousTransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:anySimpleType"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string"/>
        <xs:element name="OrderNumber" type="xs:string"/>
        <xs:element name="PaymentService" type="tns:PaymentServiceType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="VoidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionID" type="xs:string"/>
        <xs:element name="TransactionDateTime" type="xs:dateTime" nillable="true"/>
        <xs:element name="SaleReconID" type="xs:string"/>
        <xs:element name="ReconID" type="xs:string" nillable="true"/>
        <xs:element name="TransactionStatus" type="tns:TransactionStatusType"/>
        <xs:element name="ResponseDetail" type="tns:ResponseDetail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="AccountDetail">
    <xs:sequence>
      <xs:element name="Bank" type="xs:string"/>
      <xs:element name="AccountholderName" type="xs:string"/>
      <xs:element name="BranchCode" type="xs:string"/>
      <xs:element name="AccountNumber" type="xs:string"/>
      <xs:element name="AccountType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResponseDetail">
    <xs:sequence>
      <xs:element name="Source" type="xs:string"/>
      <xs:element name="Code" type="xs:string"/>
      <xs:element name="Description" type="xs:string"/>
      <xs:element name="ClientMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BankCard">
    <xs:sequence>
      <xs:element name="Token" type="xs:string"/>
      <xs:element name="CardAssociation" type="xs:string"/>
      <xs:element name="CardType" type="tns:BankCardType"/>
      <xs:element name="CardholderName" type="xs:string"/>
      <xs:element name="CardNumber" type="xs:string"/>
      <xs:element name="ExpiryMonth" type="xs:int"/>
      <xs:element name="ExpiryYear" type="xs:int"/>
      <xs:element name="SecurityCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UserCard">
    <xs:sequence>
      <xs:element name="Token" type="xs:string" minOccurs="0"/>
      <xs:element name="CardholderName" type="xs:string" minOccurs="0"/>
      <xs:element name="MaskedCardNumber" type="xs:string"/>
      <xs:element name="ExpiryMonth" type="xs:int" minOccurs="0"/>
      <xs:element name="ExpiryYear" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MerchantUserCard">
    <xs:sequence>
      <xs:element name="MerchantUserID" type="xs:string" minOccurs="0"/>
      <xs:element name="CardholderName" type="xs:string" minOccurs="0"/>
      <xs:element name="MaskedCardNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="ExpiryMonth" type="xs:int" minOccurs="0"/>
      <xs:element name="ExpiryYear" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="AddressLine1" type="xs:string"/>
      <xs:element name="AddressLine2" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="Neighbourhood" type="xs:string"/>
      <xs:element name="PostCode" type="xs:string"/>
      <xs:element name="Region" type="xs:string"/>
      <xs:element name="CountryCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TransactionStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="Failure"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PaymentServiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CardNotPresent"/>
      <xs:enumeration value="CardNotPresentRecurring"/>
      <xs:enumeration value="CardNotPresentMoto"/>
      <xs:enumeration value="CardNotPresentMotoRecurring"/>
      <xs:enumeration value="CardNotPresentBatch"/>
      <xs:enumeration value="PayD"/>
      <xs:enumeration value="MasterPass"/>
      <xs:enumeration value="WiCode"/>
      <xs:enumeration value="Sid"/>
      <xs:enumeration value="SnapScan"/>
      <xs:enumeration value="EftSecure"/>
      <xs:enumeration value="Zapper"/>
      <xs:enumeration value="MPGS"/>
      <xs:enumeration value="MPGSRecurring"/>
      <xs:enumeration value="MPGSMoto"/>
      <xs:enumeration value="MPGSMotoRecurring"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BankCardType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Credit"/>
      <xs:enumeration value="Debit"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BankAccountType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Credit"/>
      <xs:enumeration value="Debit"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

